versions
log/
doc/
test/log
*sqlite3
coverage
coverage.data
test/documents/
db/seeds.rb
db/schema.rb
db/*_structure.sql
db/*.sqlite3
db/*.sqlite3-journal
fed_ex.yml
s3.yml
pkg/
config/*database.yml
db/test_*_schema.rb


app/models.orig/
db/migrate.orig/
packages_updated.test
s.git/
test.unit.orig/
test/unit.orig/
misc/
/*.war
*_errors.txt
*.swp
/config/initializers/secret_token.rb
Gemfile.lock

