tmp/
versions/
log/
doc/
test/log
*sqlite3
/coverage*
test/documents/
db/seeds.rb
db/schema.rb
db/*_structure.sql
db/*.sqlite3
db/*.sqlite3-journal
fed_ex.yml
s3.yml
pkg/
config/*database.yml
db/test_*_schema.rb

*.swp
/config/secrets.yml
/config/initializers/secret_token.rb

